{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%block title %} Categorias {% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>CATEGORIAS</h3>
        {{ wtf.quick_form(form) }}	 
	<a class="btn btn-default" href="/inventory/add_category" role="button">Nuevo</a>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
	{% for category in categories %}
      <tr>
        <td>{{category.name}}</td>
        <td><a href="{{url_for('.edit_category',id=category.id)}}">Editar</a></td>
      </tr>

	{% endfor %}
    </tbody>
  </table>
  <div class="pagination">
  	{{ macros.pagination_widget(pagination,'.list_categories') }}
  </div>	
{% endblock %}
