{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{%block title %} Categorias {% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>CATEGORIAS</h3>
	<form method="POST" action="">
		<div class="form-group">	
			{{form.parametro.label}} <br>
			{{form.parametro(class="form-control")}}
		</div>
		<div class="dropdown">
			<button class="btn btn-primary dropdown-togle" type="button" id="menu1" data-toggle="dropdown">Opciones
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
				<li role="presentation">{{form.submitFind(class="btn", role="menuitem", tabindex="-1",style="padding:3px 20px;background-color:#FFF")}} </li>
				{{form.hidden_tag()}}
				<li role="presentation"><a href="/inventory/add_category" role="menuitem" tabindex="-1">Nuevo</a>
			</ul>
		</div>
      </form>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
	{% for category in categories %}
      <tr>
        <td>{{category.name}}</td>
        <td><a href="{{url_for('.edit_category',id=category.id)}}"><span class="glyphicon glyphicon-edit"/></span></a></td>
      </tr>

	{% endfor %}
    </tbody>
  </table>
  <div class="pagination">
  	{{ macros.pagination_widget(pagination,'.list_categories') }}
  </div>	
{% endblock %}
