{% extends "base.html"%}

{%block title %} Categorias {% endblock %}

{% block page_content %}
<div class="page-header">
	<h3>CATEGORIAS</h3>
	{{ form.parametro.label }}{{ form.parametro() }} {{ form.submitFind() }} <a href="/inventory/add_category">Nuevo</a>
</div>
<ul>
	{% for category in categories %}
	<li>
		<div>{{category.name}}</div>
		<div>{{category.description}}</div>
		<div><a href="{{url_for('.edit_category',id=category.id)}}">Editar</a></div>
	</li>
	{% endfor %}
</ul>
{% endblock %}
